<?xml version="1.0"?>
<config>
    <modules>
        <V_Sellers>
            <version>0.1.0</version>
        </V_Sellers>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sellers>
                    <file>sellers.xml</file>
                </sellers>
            </updates>
        </layout>  
        <routers>
            <sellers>
                <use>standard</use>
                <args>
                    <module>V_Sellers</module>
                    <frontName>sellers</frontName>
                </args>
            </sellers>
        </routers>
    </frontend>
    <admin>
        <routers>
            <sellers>
                <use>admin</use>
                <args>
                    <module>V_Sellers</module>
                    <frontName>admin_sellers</frontName>
                </args>
            </sellers>
        </routers>
    </admin>
    <global>   
     <models>
            <sellers>
                <class>V_Sellers_Model</class>
                <resourceModel>sellers_mysql4</resourceModel>
            </sellers>
            <sellers_mysql4>
                <class>V_Sellers_Model_Mysql4</class>
                <entities>
                    <userprofile> 
                        <table>sellers_userdata</table>
                    </userprofile>

                </entities>
            </sellers_mysql4>
        </models>
        <resources>
            <sellers_setup>
                <setup>
                    <module>V_Sellers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sellers_setup>
            <sellers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sellers_write>
            <sellers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sellers_read>
        </resources>
        <blocks>
            <sellers>
                <class>V_Sellers_Block</class>
            </sellers>
        </blocks>     
        <helpers>            
            <sellers>                
                <class>V_Sellers_Helper</class>            
            </sellers>        
        </helpers>   
        <template>
            <email>
                <become_a_seller>
                    <label>Become a partner</label>
                    <file>sellers/become_a_seller.html</file>
                    <type>html</type>
                </become_a_seller>
            </email>
        </template> 
    </global>    
    <adminhtml>        
        <menu>            
            <sellers module="sellers">                
                <title>V Sellers</title>                
                <sort_order>100</sort_order>                
                <children>                    
                    <sellers module="sellers">                        
                        <title>Manage Sellers</title>                        
                        <sort_order>0</sort_order>                        
                        <action>admin_sellers/adminhtml_partners</action>                    
                    </sellers>                
                </children>            
            </sellers>        
        </menu>  
        <layout>
            <updates>
                <sellers>
                    <file>sellers.xml</file>
                </sellers>
            </updates>
        </layout>  
    </adminhtml>
</config>